@model IEnumerable<CopyCatsDetective.Controllers.Services.CodePlagiarismDetectionResult>

<p style="margin-top: 20px; margin-left: 300px;">Source code comparison result:</p>

<div style="background: #a7b5a7; max-width:200px; margin-top: 20px; margin-left: 300px;">
    <div>
        <p>Cheat probability:</p>
        <p style="float: right; margin-left: -500px; margin-top: -30px;">@(Model.FirstOrDefault().Similarity * 100) %</p>
    </div>
   
    <div>
        <p>Alert level: </p>
        <p style="float: right; margin-top: -30px;">@Model.FirstOrDefault().AlertLevel.ToString()</p>
    </div>
    
</div>

<div style="margin-top: 20px; margin-left: 300px;">
    <label>Brief Description</label>
    <textarea style="display: block; min-width: 200px; min-height:200px;">@Model.FirstOrDefault().Description</textarea>
    @Html.ActionLink("Compare next codes", "Index", "Compare");
</div>